---
import { CometCard } from "@/components/ui/comet-card";

const { id, photoUrl, name } = Astro.props;
---

<CometCard client:load>
  <a
    type="button"
    class="my-10 flex w-80 cursor-pointer flex-col items-stretch rounded-[16px] border-0 bg-[#1F2121] p-2 saturate-0 md:my-20 md:p-4"
    aria-label="View invite F7RA"
    style={{
      transformStyle: "preserve-3d",
      transform: "none",
      opacity: 1,
    }}
    href={`${import.meta.env.BASE_URL}/figures/${id}`}
  >
    <div class="mx-2 flex-1">
      <div class="relative mt-2 aspect-square w-full">
        <img
          loading="lazy"
          class="absolute inset-0 h-full w-full rounded-[16px] bg-[#000000] object-cover contrast-75"
          src={`${import.meta.env.BASE_URL}/${photoUrl}`}
          alt={name}
          style={{
            boxShadow: "rgba(0, 0, 0, 0.05) 0px 5px 6px 0px",
            opacity: 1,
          }}
        />
      </div>
    </div>
    <div
      class="mt-2 flex flex-shrink-0 items-center justify-between px-2 py-4 font-mono text-white"
    >
      <div class="text-xl">{name}</div>
    </div>
  </a>
</CometCard>
