---
import PostEmbedded from "@/components/post-embedded.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const figures = await getCollection("figures");
  return figures.map((figure) => ({
    params: { slug: figure.id },
    props: figure,
  }));
}

const figure = Astro.props;
const { Content } = await render(figure);
---

<BaseLayout>
  <h2 class="text-3xl font-bold">{figure.data.name}</h2>

  <img
    loading="lazy"
    src={`${import.meta.env.BASE_URL}/${figure.data.photoUrl}`}
    alt={figure.data.name}
    class="w-80 my-5 rounded-[16px] bg-[#000000] saturate-0 aspect-square object-cover contrast-75"
  />

  <Content />

  <h2 class="text-lg font-bold my-4">Postingan Terkait</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4">
    {
      figure.data.posts.map((post) => (
        <PostEmbedded type={post.type} url={post.url} />
      ))
    }
  </div>
  <p>
    Jika kamu ingin menambahkan postingan terkait, silakan <a
      class="text-blue-500 underline"
      href={`https://github.com/notulen/indonesia-mengingat/edit/main/src/content/figures/${figure.id}.md`}
      target="_blank">sunting file ini</a
    >.
  </p>
</BaseLayout>
